* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.menu {
    height: 50px;
}

.grid-display {
    height: calc(100vh - 60px);
    width: calc(100vw - 10px);
    margin: 5px;

    display: grid;
    grid-template-columns: repeat(var(--columns), auto);
    grid-template-rows: repeat(var(--rows), auto);

    border: 2px solid rgb(20, 20, 20);
}

.tile {
    width: 100%;
    height: 100%;

    border: 2px solid rgb(20, 20, 20);
}

.tile:hover {
    cursor: pointer;
}

.empty {
    background-color: rgb(230, 249, 255);
}

.visited {
    background-color: rgb(176, 255, 206);
}

.obstacles {
    background-image: url("./images/brickwall.jpg");
    background-size: cover;
}

.bot {
    background-image: url("./images/bot.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}